/* Global */
:root {
  /* Color */
  --color-pink:#FADDD9;
  --color-navy: #05152F;
  --color-dark-grey: #2D2E2E;
  --color-white: #E9E9E9
  --color-light-grey: #D1D1D1;
  --color-lighter-grey: #D0D0D0;
  --color-green: #34BE82;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  -animation-duration: 300ms;
}

  /* Universal tags */
  * {
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

/* layout*/
.chat__layout {
  display: flex;
  height: 100vh;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__profile {
  margin: auto;
  position: absolute;
  top: 10px;
}
.navbar__profile img {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

.navbar__menu {
  color: white;
  list-style: none;
  padding: 0;
}

.navbar__menu li {
  font-size: 25px;
  padding-bottom: 18px;
}
.setting__icon {
  color: white;
  font-size: 25px;
  position: relative;
  bottom: -150px
}

/* contact list */
.contact__list__items {
  background-color: white;
}
img {
  margin: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-dark-grey);
  border-radius: 50%;
}

/* navbar */
.navbar {
  display: flex;
  flex-basis: 5%;
  flex-direction: column;
  background-color: var(--color-dark-grey)
}

/* contact list */
.contact__list {
  background-color: var(--color-white);
  flex-basis: 20%;
}

.contact__list__card {
  border: 1px var(--color-pink) solid;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.contact__description {
  align-items: center;
}

/* chat-box container */
.chat-box_container {
  flex-basis: 75%;
  background-color: var(--color-pink)
}

.name {
  font-size: 18px;
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  padding-top: 5px;
  margin-bottom: 0px;
  /* position: absolute;
  right: 80px; */
}

.timespan {
  font-size: 15px;
  color: var(--color-lighter-grey);
  position: absolute;
  top: 25px;
  right: 5px;
}
.online_status {
  font-size: 14px;
  color: var(--color-green);
  position: absolute;
  margin: 0;
  top: 50px;
  right: 5px;
}

/* search bar */
.search__bar {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 20px;
  margin: auto;
  position: relative;
}



.search__area {
  /* text-align: center;
  border: none;
  /* height: 50px;
  width: 200px; */
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--color-green);
  border-radius: 14px;;
  font-size: 20px;
}

.serach__icon {
  position: absolute;
  left: 30px;
  top: 30px;
  color: var(--color-lighter-grey);
  font-size: 20px;
}

/* chatbox */
.chat-box_container {
  /* width: 30%; */
  background-color: var(--color-pink);
  position: relative;
}

.input-container {
  width: 70%;
  position: fixed;
  bottom: 40px;
  text-align: center;
  padding-left: 40px;
}

.input-area {
  width: 100%;
  padding-left: 20px;
  font-size: 24px;
  border-radius: 20px;
}

.input-form-box {
  width: 100%;
  height: 18vh;
  margin-left: 20px;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.send__icon {
  position: absolute;
  right: 80px;
  top: 50px;
  color: var(--color-green);
  font-size: 28px;
}

/* message container */

/* responsive */
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar {
    flex-basis: 9%;
  }

  .navbar__profile img {
  width: 40px;
  height: 40px;
}

.contact__list {
  flex-basis: 30%;
}

.contact__list__card {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  text-align: center;
}

/* .input-container {
 
} */
  
}
